<html>
<head>
	<title>{{title}}</title>
	<link rel="shortcut icon" href="/static/creditmeter/images/anim.png">
	<link rel="stylesheet" href="/static/creditmeter/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/creditmeter/css/device-login.css">
	<script src="/static/creditmeter/lib/d3.v4.min.js"></script>
</head>

<body>
<div id="modal" class="modal">
	<div class="row">
	<div class="container">

		<div id="lhs1" class="column">
			<div class="sitelabel">Child@Credit-Feeder Login</div>
			<div class="imgcontainer">
	      <img src="static/creditmeter/images/img_avatar.png" alt="Avatar" class="avatar">
				<form class="animate" action="/" method="POST">
					{% csrf_token %}
					<button type="submit" class="pressbutton">Child <i class="fa">&#xf090;</i></button>
					<input type="hidden" id="child_pyld" name="login_pyld" value=""></input>
				</form>
	    </div>
		</div>
		<div id="rhs1" class="column">
			<div class="sitelabel">Parent@Credit-Feeder Login</div>
			<div class="imgcontainer">
	      <img src="static/creditmeter/images/img_avatar2.png" alt="Avatar" class="avatar">
				<form class="animate" action="/" method="POST">
					{% csrf_token %}
					<button type="submit" class="pressbutton">Parent <i class="fa">&#xf090;</i></button>
					<input type="hidden" id="parent_pyld" name="login_pyld" value=""></input>
				</form>
	    </div>
		</div>

		<div id="lhs2" class="column">
				<div class="sitelabel">Child@Credit-Meter Login</div>
				<div class="imgcontainer">
	      <img src="static/creditmeter/images/img_avatar.png" alt="Avatar" class="avatar">
				<form class="animate" action="/" method="POST">
					{% csrf_token %}
					<button type="submit" class="pressbutton">Child <i class="fa">&#xf090;</i></button>
					<input type="hidden" id="child_pyld" name="login_pyld" value=""></input>
				</form>
	    </div>
		</div>
		<div id="rhs2" class="column">
			<div class="sitelabel">Parent@Credit-Meter Login</div>
			<div class="imgcontainer">
	      <img src="static/creditmeter/images/img_avatar2.png" alt="Avatar" class="avatar">
				<form class="animate" action="/" method="POST">
					{% csrf_token %}
					<button type="submit" class="pressbutton">Parent <i class="fa">&#xf090;</i></button>
					<input type="hidden" id="parent_pyld" name="login_pyld" value=""></input>
				</form>
	    </div>
		</div>

	</div>
	</div>
</div>





<script>
//$(document).ready(function(){
	d3.select("#device_div").html("<b>Device Name: </b>{{device_name}}");
	var child_pyld={"account_type":"child","device_name":"{{device_name}}","device_ip":"{{device_ip}}","device_mac":"{{device_mac}}"};
	d3.select("#child_pyld").attr("value",JSON.stringify(child_pyld));//prepares for submit
	var parent_pyld={"account_type":"parent","device_name":"{{device_name}}","device_ip":"{{device_ip}}","device_mac":"{{device_mac}}"};
	d3.select("#parent_pyld").attr("value",JSON.stringify(parent_pyld));//prepares for submit
//	$("#lhs").html(window.innerWidth+" x "+window.innerHeight);
//});
</script>

</body>
</html>
