<html>
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/creditmeter/images/anim.png">
<link rel="stylesheet" href="/static/creditmeter/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/creditmeter/css/creditmeter.css">
<script src="/static/creditmeter/js/HackTimer.js"></script>
<script src="/static/creditmeter/js/jquery.min.js"></script>
<script>
var print=function(msg){console.log(msg);}
var RUNNING=false
$(document).ready(function(){});//ready

var wideOpenCB=function(){
	updateSomething("wide_open","status_report_div")
}
var wideClosedCB=function(){
	updateSomething("wide_closed","status_report_div")
}
var localCB=function(){
	updateSomething("local_balance","localbalancediv")
}
var updateCB=function(){
	updateSomething("remote_balance","remotebalancediv")
}
var transferCB=function(){
	updateSomething("transfer_balance","transferdiv")
}
var statusCB=function(){
	updateSomething("json_status_report","status_report_div")
}
var logoutCB=function(){
	window.location="/logout";
}
var rxOff=function(){
	console.log("rxOff")
	if($("#RX").hasClass("green")){
		$("#RX").toggleClass("green")//off
	}
	$("#WAIT").toggleClass("orange");
}
var txOff=function(){
	console.log("txOff")
	if($("#TX").hasClass("red")){
		$("#TX").toggleClass("red")//off
	}
}
var runCB=function(){
	print("runCB")
	if(RUNNING==true){
		RUNNING=false;
		$("#isrunningdiv").html("Status: Stopped")
		$("#pushrunstop").html("Push to Run")
	}
	else{
		RUNNING=true;
		$("#isrunningdiv").html("Status: Running")
		$("#pushrunstop").html("Push to Stop")
		stepCB()
	}
}
var stepCB=function(){
	print("stepCB")
	if($("#WAIT").hasClass("orange")){$("#WAIT").toggleClass("orange")}
	if($("#RX").hasClass("green")){$("#RX").toggleClass("green")}
	$("#TX").toggleClass("red");
	window.setTimeout(txOff,1000);
	if(!RUNNING)return;

	$.ajax({
		type: "GET",
		url: "/keepalive",
		success: function(rval){
			try{
			console.log(rval);
			if(rval=="STOP"){print("runCB received STOP");RUNNING=false;$("#is_running_div").html("false");return;}
			$("#RX").toggleClass("green");//on
			$("#localbalancediv").html("Local Balance: "+rval);//rval=raw integer
			$("#isrunningdiv").html("Status: Running")
			window.setTimeout(rxOff,1000);
			window.setTimeout(stepCB,5000);
			}catch(e){console.log(e)}
		}
	});
}
var updateSomething=function(what,where){
	$.ajax({
		type: "GET",
		url: "get?"+what,
		success: function(rval){
			try{
			console.log(rval);
			$("#"+where).html(rval);
			}catch(e){console.log(e)}
		}
	});
}
</script>
</head>
<body>
	<div class="icon-bar" style="position:fixed;z-index:10;left:0px;top:0px;" id="icon_bar">
		<a class="quarter"></a>
		<a class="half">{{username}}</a>
		<a class="quarter" onclick="logoutCB()"><i style="font-size:38px;" class="fa">&#xf2d3;</i></a>
	</div>
	<div id="v100" style="height:70px"></div>

	<div class="row" id="row1">
	  <div class="column" id="column1">
	    <div class="card" id="card1">
				<div class="container" id="container1">

					<button class="pressbutton"  onclick="runCB()">
						<div id="pushrunstop">Push to Run</div>
						<table align="center"><tr>
						<td><div id="TX" class="led"></div></td>
						<td><div id="RX" class="led"></div></td>
						<td><div id="WAIT" class="led"></div></td>
						</tr></table>

						<table align="center"><tr>
						<td colspan="2"><div id="localbalancediv">Local Balance: {{credit_balance}}</div></td>
						</tr><tr>
						<td colspan="2"><div id="isrunningdiv">Status: Stopped </div></td>
						</tr></table>
					</button>

					<br><br>
					<button class="pressbutton"  onclick="updateCB()">
						<div id="pushupdate">Push to Update</div>
						<table>
						<tr><td>Remote Balance: </td><td><div id="remotebalancediv">---</div></td></tr>
						</table>
					</button>

					<br><br>
					<button class="pressbutton"  onclick="transferCB()">
						<div id="pushtransfer">Push to Transfer</div>
						<table>
						<tr><td>Amount Transferred: </td><td><div id="transferdiv">---</div></td></tr>
						</table>
					</button>
<!--
					<br><br>
					<button class="pressbutton" >Logout</button>
					<br><br>
-->
					<div id="status_report_div"></div>

				</div>
			</div>
		</div>
	</div>






</body>
</html>
